:root {
  font-family: Inter, system-ui,  Helvetica, Arial, sans-serif;
  /* line-height: 2.5; */
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #151515;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* padding-bottom:60px; */
}
.content {
    min-height: calc(100vh-30px);
    margin-top: 5em;
}

a {
  color: #0097e6;
  text-decoration: inherit;
}
a:hover {
  color: #08a9ff;
}

body {
  margin: 0 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  /* min-height: 100vh */

}

.content h1 {
  font-size:3em;
}

.pickChoices {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 3em auto;
}

form {
  margin:3em 0 0
}

form input {
  height:2.2em;
  width:15.0em;
  margin-right:1em;
}

.pickCount {
  margin: .5em;
}

.pickCount input {
width: 3em;
font-size:1.5em;
text-align: center;

}
input::-webkit-inner-spin-button {
  display: none;
}

button {
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn {
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 0.4em 1.2em;
  margin:0 .1em;
  font-size: 1em;
}
.mainButtonContainer {
  font-size: 1.5em;
  margin:2em
}
.mainButton {
  margin: 0 .5em
}


button:hover {
  border-color: #0097e6;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.countButton {
  
  border-radius: 2em;
  margin: 0 .4em;
  height:1.7em;
  width:1.7em;
  font-size:1.5em;
  text-align: center;
  /* padding:0em; */

}

.switch-wrapper {
  margin: .5em;
}

.nameContainer {
  margin-top: 3em;
}

.itemsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 300px;
  max-width:900px; 
  text-align: center;
  justify-content: center;
  margin: auto;


}
.items {
  margin: .2em 1em;
  text-align: center;
}

.error {
  min-width:300px;
  max-width: 400px;
  color:#e38676ed;
  margin:auto;
}

.pickedResults {
  border:1px rgb(55, 55, 55) solid;
  margin:3em auto;
  padding:1em;
  max-width: 80%;
}

.pickedResults h1 {
  text-decoration: underline

}
.pickedResults ul {

  list-style: none; 
  list-style-type: none;
  padding: 0;

  max-width:900px; 
  /* line-height: 2.1em; */
}

  .pickedResults li {
    margin:0;
    padding:0 0 .8em;
    text-align: center;
    font-size: 1.3em;

  }

  .groupText {
    font-weight: 800;
  }
  .footer {
    position: relative;
    bottom:20px;
    left:0;
    right:0;
    color:#5b5b5b;
    margin-top: 6em;
    font-size: .9em;
  }
  .howTo{
    max-width:400px; 
  }
  .howTo ol {
    text-align: left;
  }
  
  .howTo li {
    margin:1.2em 0
  }